.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33vw; /* Aproximadamente un tercio de la pantalla */
  height: auto;
  margin: 0 auto;
}

.row {
  display: flex;
}

.tile {
  width: 30px; /* Ajusta el tamaño de los tiles para que se vean bien */
  height: 30px;
}

.tile img {
  width: 100%;
  height: 100%;
}
