.game-board {
  display: flex;
  flex-direction: column; /* Asegura que las filas se apilen verticalmente */
}

.game-board__row {
  display: flex;
  flex-direction: row; /* Asegura que las celdas dentro de cada fila se alineen en una fila horizontal */
}

.game-board__tile {
  width: 32px;  /* Tamaño fijo o ajustable según el tamaño de tus imágenes */
  height: 32px; /* Tamaño fijo o ajustable según el tamaño de tus imágenes */
}

.game-board__tile img {
  width: 100%;  /* Asegura que la imagen ocupe todo el espacio del tile */
  height: 100%; /* Asegura que la imagen ocupe todo el espacio del tile */
}
