.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw; /* Aumentamos el tamaño del tablero a la mitad de la pantalla */
  height: auto;
  margin: 0 auto;
}

.row {
  display: flex;
}

.tile {
  width: 40px;  /* Ajustamos el tamaño de las celdas para que sea más grande */
  height: 40px;
}

.tile img {
  width: 100%;
  height: 100%;
}
